@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-site-dark: #1c1c1c;
    --color-site-bright: #f6f3f0;
    --font-af-serif: 'Noto Serif', 'Noto Serif SC', var(--font-serif);
    --font-af-sans: 'Noto Sans', 'Noto Sans SC', var(--font-sans);
    --font-af-mono: 'Noto Sans Mono', var(--font-mono);
}